.services{
    display: flex;
}
body{
    background-image: url(./bg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.brand img{
    height: 70px;
    margin-left: 30px;

}
.creative img{
    height: 70px;
    margin-top: 85px;
    margin-right: 50px;
}
.responsive img{
    height: 70px;
    margin-top: 85px;
    margin-left: 50pxpx;
}
.responsive p{
    margin-left: 35px;
}
.backend img{
    height: 90px;
    margin-top: 75px;
    margin-left: 50px;
}
.backend p{
    margin-left: 35px;
}
p{
    color: purple;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:blueviolet;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.projects{
    display: flex;
}
.projects img{
    height: 200px;
    margin-right: 100px;
}
.projects a{
    color: black;
    font-style:initial;
    font-weight: bold;
    margin-left: 140px;
}
h2{
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet;
}
#mains{
    color: black;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.image img{
    height: 400px;
}